<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/css/styles.css" />
    <link rel="icon" href="/images/icon.png">
    <title>{{heading}}</title>
  </head>
  <body>
      <div class="main-content">
        {{>header}}
        <p>This site was created by Asam Shan. It uses data from the weather stack API</p>
        <img class="portrait" src="/images/headshot.jpg" />
    </div>

    {{>footer}}
  </body>
</html>
